In [1]:
import numpy as np
import pandas as pd

In [2]:
pwd

'/home/tfelipelli/code/ninamcunha/amooora'

In [3]:
# loading the dataset
ok = pd.read_csv("raw_data/okcupid_profiles.csv")

In [4]:
ok.head()

,age,status,sex,orientation,body_type,diet,drinks,drugs,education,ethnicity,...,essay0,essay1,essay2,essay3,essay4,essay5,essay6,essay7,essay8,essay9
0,22,single,m,straight,a little extra,strictly anything,socially,never,working on college/university,"asian, white",...,about me: i would love to think that i was so...,currently working as an international agent fo...,making people laugh. ranting about a good salt...,"the way i look. i am a six foot half asian, ha...","books: absurdistan, the republic, of mice and ...",food. water. cell phone. shelter.,duality and humorous things,trying to find someone to hang out with. i am ...,i am new to california and looking for someone...,you want to be swept off your feet! you are ti...
1,35,single,m,straight,average,mostly other,often,sometimes,working on space camp,white,...,i am a chef: this is what that means. 1. i am ...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,i am die hard christopher moore fan. i don't r...,delicious porkness in all of its glories. my b...,NaN,NaN,i am very open and will share just about anyth...,NaN
2,38,available,m,straight,thin,anything,socially,NaN,graduated from masters program,NaN,...,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,okay this is where the cultural matrix gets so...,movement conversation creation contemplation t...,NaN,viewing. listening. dancing. talking. drinking...,"when i was five years old, i was known as ""the...","you are bright, open, intense, silly, ironic, ..."
3,23,single,m,straight,thin,vegetarian,socially,NaN,working on college/university,white,...,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,"bataille, celine, beckett. . . lynch, jarmusch...",NaN,cats and german philosophy,NaN,NaN,you feel so inclined.
4,29,single,m,straight,athletic,NaN,socially,never,graduated from college/university,"asian, black, other",...,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at: http://bagsbrown....,i smile a lot and my inquisitive nature,"music: bands, rappers, musicians at the moment...",NaN,NaN,NaN,NaN,NaN

In [5]:
ok.columns

Index(['age', 'status', 'sex', 'orientation', 'body_type', 'diet', 'drinks',
       'drugs', 'education', 'ethnicity', 'height', 'income', 'job',
       'last_online', 'location', 'offspring', 'pets', 'religion', 'sign',
       'smokes', 'speaks', 'essay0', 'essay1', 'essay2', 'essay3', 'essay4',
       'essay5', 'essay6', 'essay7', 'essay8', 'essay9'],
      dtype='object')

In [6]:
ok.shape

(59946, 31)

In [ ]:
# making a copy of original dataset
# tf = ok.copy()

In [12]:
# dropping essay columns that will not be analysed here
ok = ok.drop(columns=['essay0', 'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7', 'essay8', 'essay9'])

In [13]:
ok.head()

,age,status,sex,orientation,body_type,diet,drinks,drugs,education,ethnicity,...,income,job,last_online,location,offspring,pets,religion,sign,smokes,speaks
0,22,single,m,straight,a little extra,strictly anything,socially,never,working on college/university,"asian, white",...,-1,transportation,2012-06-28-20-30,"south san francisco, california","doesn't have kids, but might want them",likes dogs and likes cats,agnosticism and very serious about it,gemini,sometimes,english
1,35,single,m,straight,average,mostly other,often,sometimes,working on space camp,white,...,80000,hospitality / travel,2012-06-29-21-41,"oakland, california","doesn't have kids, but might want them",likes dogs and likes cats,agnosticism but not too serious about it,cancer,no,"english (fluently), spanish (poorly), french (..."
2,38,available,m,straight,thin,anything,socially,NaN,graduated from masters program,NaN,...,-1,NaN,2012-06-27-09-10,"san francisco, california",NaN,has cats,NaN,pisces but it doesn&rsquo;t matter,no,"english, french, c++"
3,23,single,m,straight,thin,vegetarian,socially,NaN,working on college/university,white,...,20000,student,2012-06-28-14-22,"berkeley, california",doesn't want kids,likes cats,NaN,pisces,no,"english, german (poorly)"
4,29,single,m,straight,athletic,NaN,socially,never,graduated from college/university,"asian, black, other",...,-1,artistic / musical / writer,2012-06-27-21-26,"san francisco, california",NaN,likes dogs and likes cats,NaN,aquarius,no,english

In [14]:
# summary of the dataset
ok.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59946 non-null  int64
 1   status       59946 non-null  object
 2   sex          59946 non-null  object
 3   orientation  59946 non-null  object
 4   body_type    54650 non-null  object
 5   diet         35551 non-null  object
 6   drinks       56961 non-null  object
 7   drugs        45866 non-null  object
 8   education    53318 non-null  object
 9   ethnicity    54266 non-null  object
 10  height       59943 non-null  float64
 11  income       59946 non-null  int64
 12  job          51748 non-null  object
 13  last_online  59946 non-null  object
 14  location     59946 non-null  object
 15  offspring    24385 non-null  object
 16  pets         40025 non-null  object
 17  religion     39720 non-null  object
 18  sign         48890 non-null  object
 19  smokes       54434 non-null  object
 20  speaks       59896 non-null  object
dtypes: float64(1), int64(2), object(18)
memory usage: 9.6+ MB

In [15]:
# statistical summary of numerical features
ok.describe()

                age        height          income
count  59946.000000  59943.000000    59946.000000
mean      32.340290     68.295281    20033.222534
std        9.452779      3.994803    97346.192104
min       18.000000      1.000000       -1.000000
25%       26.000000     66.000000       -1.000000
50%       30.000000     68.000000       -1.000000
75%       37.000000     71.000000       -1.000000
max      110.000000     95.000000  1000000.000000

In [16]:
# unique values in each column
ok.nunique()

age               54
status             5
sex                2
orientation        3
body_type         12
diet              18
drinks             6
drugs              3
education         32
ethnicity        217
height            60
income            13
job               21
last_online    30123
location         199
offspring         15
pets              15
religion          45
sign              48
smokes             5
speaks          7647
dtype: int64

## missing data

In [17]:
# % of missing values in each column
round(ok.isnull().sum().sort_values(ascending=False)/len(ok), 2)

offspring      0.59
diet           0.41
religion       0.34
pets           0.33
drugs          0.23
sign           0.18
job            0.14
education      0.11
ethnicity      0.09
smokes         0.09
body_type      0.09
drinks         0.05
speaks         0.00
height         0.00
sex            0.00
status         0.00
age            0.00
orientation    0.00
income         0.00
last_online    0.00
location       0.00
dtype: float64

## decide what to do for each column with missing values...
Investigate missing values in each column then choose one of the following solutions:

1. Drop the column entirely
2. Impute the column median using `SimpleImputer` from Scikit-Learn
3. Preserve the NaNs and replace them with meaningful values

Make changes effective in the dataframe using the chosen method.

### i "sort of" did option 3 for all of these

### `offspring`

In [18]:
# unique values and their count
ok.offspring.value_counts(dropna=False)

offspring
NaN                                        35561
doesn't have kids                           7560
doesn't have kids, but might want them      3875
doesn't have kids, but wants them           3565
doesn't want kids                           2927
has kids                                    1883
has a kid                                   1881
doesn't have kids, and doesn't want any     1132
has kids, but doesn't want more              442
has a kid, but doesn't want more             275
has a kid, and might want more               231
wants kids                                   225
might want kids                              182
has kids, and might want more                115
has a kid, and wants more                     71
has kids, and wants more                      21
Name: count, dtype: int64

In [19]:
# replacing NaN with "NoKids"
ok.offspring.replace(np.nan, "NoKids", inplace=True)

/tmp/ipykernel_165525/1549716625.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ok.offspring.replace(np.nan, "NoKids", inplace=True)

### `diet`

In [20]:
# unique values and their count
ok.diet.value_counts(dropna=False)

diet
NaN                    24395
mostly anything        16585
anything                6183
strictly anything       5113
mostly vegetarian       3444
mostly other            1007
strictly vegetarian      875
vegetarian               667
strictly other           452
mostly vegan             338
other                    331
strictly vegan           228
vegan                    136
mostly kosher             86
mostly halal              48
strictly halal            18
strictly kosher           18
halal                     11
kosher                    11
Name: count, dtype: int64

In [21]:
# replacing NaN with "NotDisclosed"
ok.diet.replace(np.nan, "NotDiet", inplace=True)

/tmp/ipykernel_165525/2895979750.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ok.diet.replace(np.nan, "NotDiet", inplace=True)

### `religion`

In [22]:
# unique values and their count
ok.religion.value_counts(dropna=False)

religion
NaN                                           20226
agnosticism                                    2724
other                                          2691
agnosticism but not too serious about it       2636
agnosticism and laughing about it              2496
catholicism but not too serious about it       2318
atheism                                        2175
other and laughing about it                    2119
atheism and laughing about it                  2074
christianity                                   1957
christianity but not too serious about it      1952
other but not too serious about it             1554
judaism but not too serious about it           1517
atheism but not too serious about it           1318
catholicism                                    1064
christianity and somewhat serious about it      927
atheism and somewhat serious about it           848
other and somewhat serious about it             846
catholicism and laughing about it               726
judaism and laughing about it                   681
buddhism but not too serious about it           650
agnosticism and somewhat serious about it       642
judaism                                         612
christianity and very serious about it          578
atheism and very serious about it               570
catholicism and somewhat serious about it       548
other and very serious about it                 533
buddhism and laughing about it                  466
buddhism                                        403
christianity and laughing about it              373
buddhism and somewhat serious about it          359
agnosticism and very serious about it           314
judaism and somewhat serious about it           266
hinduism but not too serious about it           227
hinduism                                        107
catholicism and very serious about it           102
buddhism and very serious about it               70
hinduism and somewhat serious about it           58
islam                                            48
hinduism and laughing about it                   44
islam but not too serious about it               40
islam and somewhat serious about it              22
judaism and very serious about it                22
islam and laughing about it                      16
hinduism and very serious about it               14
islam and very serious about it                  13
Name: count, dtype: int64

In [23]:
# replacing NaN with "NotDisclosed"
ok.religion.replace(np.nan, "NoReligion", inplace=True)

/tmp/ipykernel_165525/189355213.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ok.religion.replace(np.nan, "NoReligion", inplace=True)

### `pets`

In [24]:
# unique values and their count
ok.pets.value_counts(dropna=False)

pets
NaN                                19921
likes dogs and likes cats          14814
likes dogs                          7224
likes dogs and has cats             4313
has dogs                            4134
has dogs and likes cats             2333
likes dogs and dislikes cats        2029
has dogs and has cats               1474
has cats                            1406
likes cats                          1063
has dogs and dislikes cats           552
dislikes dogs and likes cats         240
dislikes dogs and dislikes cats      196
dislikes cats                        122
dislikes dogs and has cats            81
dislikes dogs                         44
Name: count, dtype: int64

In [25]:
# replacing NaN with "NotDisclosed"
ok.pets.replace(np.nan, "does not have dogs or cats", inplace=True)

/tmp/ipykernel_165525/2801354996.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ok.pets.replace(np.nan, "does not have dogs or cats", inplace=True)

### `drugs`

In [26]:
# unique values and their count
ok.drugs.value_counts(dropna=False)

drugs
never        37724
NaN          14080
sometimes     7732
often          410
Name: count, dtype: int64

In [27]:
# replacing NaN with "NotDisclosed"
ok.drugs.replace(np.nan, "NotDisclosed", inplace=True)

/tmp/ipykernel_165525/2683833517.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ok.drugs.replace(np.nan, "NotDisclosed", inplace=True)

### `sign`

In [28]:
# unique values and their count
ok.sign.value_counts(dropna=False)

sign
NaN                                              11056
gemini and it&rsquo;s fun to think about          1782
scorpio and it&rsquo;s fun to think about         1772
leo and it&rsquo;s fun to think about             1692
libra and it&rsquo;s fun to think about           1649
taurus and it&rsquo;s fun to think about          1640
cancer and it&rsquo;s fun to think about          1597
pisces and it&rsquo;s fun to think about          1592
sagittarius and it&rsquo;s fun to think about     1583
virgo and it&rsquo;s fun to think about           1574
aries and it&rsquo;s fun to think about           1573
aquarius and it&rsquo;s fun to think about        1503
virgo but it doesn&rsquo;t matter                 1497
leo but it doesn&rsquo;t matter                   1457
cancer but it doesn&rsquo;t matter                1454
gemini but it doesn&rsquo;t matter                1453
taurus but it doesn&rsquo;t matter                1450
aquarius but it doesn&rsquo;t matter              1408
libra but it doesn&rsquo;t matter                 1408
capricorn and it&rsquo;s fun to think about       1376
sagittarius but it doesn&rsquo;t matter           1375
aries but it doesn&rsquo;t matter                 1373
capricorn but it doesn&rsquo;t matter             1319
pisces but it doesn&rsquo;t matter                1300
scorpio but it doesn&rsquo;t matter               1264
leo                                               1159
libra                                             1098
cancer                                            1092
virgo                                             1029
scorpio                                           1020
gemini                                            1013
taurus                                            1001
aries                                              996
pisces                                             992
aquarius                                           954
sagittarius                                        937
capricorn                                          833
scorpio and it matters a lot                        78
leo and it matters a lot                            66
cancer and it matters a lot                         63
aquarius and it matters a lot                       63
gemini and it matters a lot                         62
pisces and it matters a lot                         62
libra and it matters a lot                          52
taurus and it matters a lot                         49
sagittarius and it matters a lot                    47
aries and it matters a lot                          47
capricorn and it matters a lot                      45
virgo and it matters a lot                          41
Name: count, dtype: int64

In [29]:
# replacing NaN with "NotDisclosed"
ok.sign.replace(np.nan, "NotDisclosed", inplace=True)

/tmp/ipykernel_165525/638622295.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ok.sign.replace(np.nan, "NotDisclosed", inplace=True)

### `job`

In [30]:
# unique values and their count
ok.job.value_counts(dropna=False)

job
NaN                                  8198
other                                7589
student                              4882
science / tech / engineering         4848
computer / hardware / software       4709
artistic / musical / writer          4439
sales / marketing / biz dev          4391
medicine / health                    3680
education / academia                 3513
executive / management               2373
banking / financial / real estate    2266
entertainment / media                2250
law / legal services                 1381
hospitality / travel                 1364
construction / craftsmanship         1021
clerical / administrative             805
political / government                708
rather not say                        436
transportation                        366
unemployed                            273
retired                               250
military                              204
Name: count, dtype: int64

In [31]:
# replacing NaN with "NotDisclosed"
ok.job.replace(np.nan, "NotDisclosed", inplace=True)

/tmp/ipykernel_165525/3158781173.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ok.job.replace(np.nan, "NotDisclosed", inplace=True)

### `education`

In [32]:
# unique values and their count
ok.education.value_counts(dropna=False)

education
graduated from college/university    23959
graduated from masters program        8961
NaN                                   6628
working on college/university         5712
working on masters program            1683
graduated from two-year college       1531
graduated from high school            1428
graduated from ph.d program           1272
graduated from law school             1122
working on two-year college           1074
dropped out of college/university      995
working on ph.d program                983
college/university                     801
graduated from space camp              657
dropped out of space camp              523
graduated from med school              446
working on space camp                  445
working on law school                  269
two-year college                       222
working on med school                  212
dropped out of two-year college        191
dropped out of masters program         140
masters program                        136
dropped out of ph.d program            127
dropped out of high school             102
high school                             96
working on high school                  87
space camp                              58
ph.d program                            26
law school                              19
dropped out of law school               18
dropped out of med school               12
med school                              11
Name: count, dtype: int64

In [33]:
# replacing NaN with "NotDisclosed"
ok.education.replace(np.nan, "NotDisclosed", inplace=True)

/tmp/ipykernel_165525/359385512.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  ok.education.replace(np.nan, "NotDisclosed", inplace=True)

### `ethnicity`

In [34]:
# unique values and their count
ok.pets.value_counts(dropna=False)

pets
does not have dogs or cats         19921
likes dogs and likes cats          14814
likes dogs                          7224
likes dogs and has cats             4313
has dogs                            4134
has dogs and likes cats             2333
likes dogs and dislikes cats        2029
has dogs and has cats               1474
has cats                            1406
likes cats                          1063
has dogs and dislikes cats           552
dislikes dogs and likes cats         240
dislikes dogs and dislikes cats      196
dislikes cats                        122
dislikes dogs and has cats            81
dislikes dogs                         44
Name: count, dtype: int64

### `smokes`

In [35]:
# unique values and their count
ok.pets.value_counts(dropna=False)

pets
does not have dogs or cats         19921
likes dogs and likes cats          14814
likes dogs                          7224
likes dogs and has cats             4313
has dogs                            4134
has dogs and likes cats             2333
likes dogs and dislikes cats        2029
has dogs and has cats               1474
has cats                            1406
likes cats                          1063
has dogs and dislikes cats           552
dislikes dogs and likes cats         240
dislikes dogs and dislikes cats      196
dislikes cats                        122
dislikes dogs and has cats            81
dislikes dogs                         44
Name: count, dtype: int64

### `body type`

In [36]:
# unique values and their count
ok.pets.value_counts(dropna=False)

pets
does not have dogs or cats         19921
likes dogs and likes cats          14814
likes dogs                          7224
likes dogs and has cats             4313
has dogs                            4134
has dogs and likes cats             2333
likes dogs and dislikes cats        2029
has dogs and has cats               1474
has cats                            1406
likes cats                          1063
has dogs and dislikes cats           552
dislikes dogs and likes cats         240
dislikes dogs and dislikes cats      196
dislikes cats                        122
dislikes dogs and has cats            81
dislikes dogs                         44
Name: count, dtype: int64

### `drinks`

In [37]:
# unique values and their count
ok.pets.value_counts(dropna=False)

pets
does not have dogs or cats         19921
likes dogs and likes cats          14814
likes dogs                          7224
likes dogs and has cats             4313
has dogs                            4134
has dogs and likes cats             2333
likes dogs and dislikes cats        2029
has dogs and has cats               1474
has cats                            1406
likes cats                          1063
has dogs and dislikes cats           552
dislikes dogs and likes cats         240
dislikes dogs and dislikes cats      196
dislikes cats                        122
dislikes dogs and has cats            81
dislikes dogs                         44
Name: count, dtype: int64

### `speaks`

In [38]:
# unique values and their count
ok.pets.value_counts(dropna=False)

pets
does not have dogs or cats         19921
likes dogs and likes cats          14814
likes dogs                          7224
likes dogs and has cats             4313
has dogs                            4134
has dogs and likes cats             2333
likes dogs and dislikes cats        2029
has dogs and has cats               1474
has cats                            1406
likes cats                          1063
has dogs and dislikes cats           552
dislikes dogs and likes cats         240
dislikes dogs and dislikes cats      196
dislikes cats                        122
dislikes dogs and has cats            81
dislikes dogs                         44
Name: count, dtype: int64

In [ ]:
speaks         0.00
height         0.00
sex            0.00
status         0.00
age            0.00
orientation    0.00
income         0.00
last_online    0.00
location       0.00

## option number 2 -> imputing value

In [ ]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy="median") # Instantiate a SimpleImputer object with strategy of choice

imputer.fit(data[['RoofSurface']]) # Call the "fit" method on the object

data['RoofSurface'] = imputer.transform(data[['RoofSurface']]) # Call the "transform" method on the object

## option number 1 -> dropping column
* when its better not to make any assumptions and drop the column entirely
* be careful: not all missing values are represented as `np.nans`, and Python's `isnull()` only detects `np.nans`...

In [ ]:
# unique values and their count
tf.feature.value_counts(dropna=False) 
# replace "?" by np.nan
tf.feature.replace("?",np.nan, inplace=True) 
# NaN percentage for feature
tf.feature.isnull().sum()/len(tf) 
# drop feature column
tf.drop(columns='feature', inplace=True)

## checking i no longer have missing values

In [ ]:
round(tf.isnull().sum().sort_values(ascending=False)/len(tf),2) #NaN percentage for each column

## Scaling