# Amooora text data cleaning

### Import libraries and load csv

In [85]:
import pandas as pd

In [86]:
!tree

.
├── dedemenezes_exploratory.ipynb
├── okcupid_profiles_encoded.csv
├── raw_data
│   ├── okcupid_profiles.csv
│   ├── parsed_data_public.csv
│   ├── question_data.csv
│   └── user_data_public.csv
└── README.md

1 directory, 7 files

In [87]:
df = pd.read_csv('raw_data/okcupid_profiles.csv')

In [88]:
df.shape

(59946, 31)

In [89]:
# from sklearn.preprocessing import LabelEncoder


# categorical_cols = ['status', 'sex', 'orientation', 'body_type', 'diet', 'drinks', 'drugs',
#                     'education', 'ethnicity', 'job', 'location', 'smokes', 'religion', 'sign', 'pets']


# label_encoding_cols = ['education', 'ethnicity', 'job', 'location', 'sign']


# label_encoders = {}
# for col in label_encoding_cols:
#     le = LabelEncoder()
#     df[col] = le.fit_transform(df[col].astype(str))  # Convert to string to avoid NaN issues
#     label_encoders[col] = le  # Save the encoder in case you need to decode later


# df = pd.get_dummies(df, columns=[col for col in categorical_cols if col not in label_encoding_cols], drop_first=True)


# encoded_file_path = "okcupid_profiles_encoded.csv"  # Output file path
# df.to_csv(encoded_file_path, index=False)

# print(f"Dataset with encoding saved at: {encoded_file_path}")

In [90]:
df.head()

,age,status,sex,orientation,body_type,diet,drinks,drugs,education,ethnicity,...,essay0,essay1,essay2,essay3,essay4,essay5,essay6,essay7,essay8,essay9
0,22,single,m,straight,a little extra,strictly anything,socially,never,working on college/university,"asian, white",...,about me: i would love to think that i was so...,currently working as an international agent fo...,making people laugh. ranting about a good salt...,"the way i look. i am a six foot half asian, ha...","books: absurdistan, the republic, of mice and ...",food. water. cell phone. shelter.,duality and humorous things,trying to find someone to hang out with. i am ...,i am new to california and looking for someone...,you want to be swept off your feet! you are ti...
1,35,single,m,straight,average,mostly other,often,sometimes,working on space camp,white,...,i am a chef: this is what that means. 1. i am ...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,i am die hard christopher moore fan. i don't r...,delicious porkness in all of its glories. my b...,NaN,NaN,i am very open and will share just about anyth...,NaN
2,38,available,m,straight,thin,anything,socially,NaN,graduated from masters program,NaN,...,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,okay this is where the cultural matrix gets so...,movement conversation creation contemplation t...,NaN,viewing. listening. dancing. talking. drinking...,"when i was five years old, i was known as ""the...","you are bright, open, intense, silly, ironic, ..."
3,23,single,m,straight,thin,vegetarian,socially,NaN,working on college/university,white,...,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,"bataille, celine, beckett. . . lynch, jarmusch...",NaN,cats and german philosophy,NaN,NaN,you feel so inclined.
4,29,single,m,straight,athletic,NaN,socially,never,graduated from college/university,"asian, black, other",...,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at: http://bagsbrown....,i smile a lot and my inquisitive nature,"music: bands, rappers, musicians at the moment...",NaN,NaN,NaN,NaN,NaN

In [91]:
text_df = df.iloc[:, 21:]

In [92]:
text_df.head()

,essay0,essay1,essay2,essay3,essay4,essay5,essay6,essay7,essay8,essay9
0,about me: i would love to think that i was so...,currently working as an international agent fo...,making people laugh. ranting about a good salt...,"the way i look. i am a six foot half asian, ha...","books: absurdistan, the republic, of mice and ...",food. water. cell phone. shelter.,duality and humorous things,trying to find someone to hang out with. i am ...,i am new to california and looking for someone...,you want to be swept off your feet! you are ti...
1,i am a chef: this is what that means. 1. i am ...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,i am die hard christopher moore fan. i don't r...,delicious porkness in all of its glories. my b...,NaN,NaN,i am very open and will share just about anyth...,NaN
2,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,okay this is where the cultural matrix gets so...,movement conversation creation contemplation t...,NaN,viewing. listening. dancing. talking. drinking...,"when i was five years old, i was known as ""the...","you are bright, open, intense, silly, ironic, ..."
3,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,"bataille, celine, beckett. . . lynch, jarmusch...",NaN,cats and german philosophy,NaN,NaN,you feel so inclined.
4,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at: http://bagsbrown....,i smile a lot and my inquisitive nature,"music: bands, rappers, musicians at the moment...",NaN,NaN,NaN,NaN,NaN

### Cleaning dataset

In [93]:
text_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   essay0  54458 non-null  object
 1   essay1  52374 non-null  object
 2   essay2  50308 non-null  object
 3   essay3  48470 non-null  object
 4   essay4  49409 non-null  object
 5   essay5  49096 non-null  object
 6   essay6  46175 non-null  object
 7   essay7  47495 non-null  object
 8   essay8  40721 non-null  object
 9   essay9  47343 non-null  object
dtypes: object(10)
memory usage: 4.6+ MB

#### Duplicates

In [94]:
text_df.duplicated().sum()

np.int64(2134)

In [95]:
text_df[text_df.duplicated()]

      essay0 essay1 essay2 essay3 essay4 essay5 essay6 essay7 essay8 essay9
51       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
64       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
80       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
84       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
175      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
59757    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
59791    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
59857    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
59881    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
59930    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

[2134 rows x 10 columns]

We have `2134`duplicated observations all made of empty answers to all questions

In [96]:
no_dup_df = text_df.drop_duplicates()
no_dup_df.shape

(57812, 10)

### Empty values

In [97]:
no_dup_df.isnull().sum().sort_values(ascending=False) / len(no_dup_df) * 100

essay8    29.564796
essay6    20.130769
essay9    18.108697
essay7    17.847506
essay3    16.161005
essay5    15.078184
essay4    14.536774
essay2    12.985193
essay1     9.409811
essay0     5.815402
dtype: float64

In [98]:
df.dropna().shape

(4407, 31)

In [99]:
df.shape

(59946, 31)

In [104]:
df.iloc[:, 0:21].isnull().sum() / len(df) * 100

age             0.000000
status          0.000000
sex             0.000000
orientation     0.000000
body_type       8.834618
diet           40.694959
drinks          4.979482
drugs          23.487806
education      11.056618
ethnicity       9.475194
height          0.005005
income          0.000000
job            13.675641
last_online     0.000000
location        0.000000
offspring      59.321723
pets           33.231575
religion       33.740366
sign           18.443266
smokes          9.194942
speaks          0.083408
dtype: float64

In [110]:
df.drugs.unique()

array(['never', 'sometimes', nan, 'often'], dtype=object)

In [109]:
df.diet.unique()

array(['strictly anything', 'mostly other', 'anything', 'vegetarian', nan,
       'mostly anything', 'mostly vegetarian', 'strictly vegan',
       'strictly vegetarian', 'mostly vegan', 'strictly other',
       'mostly halal', 'other', 'vegan', 'mostly kosher',
       'strictly halal', 'halal', 'strictly kosher', 'kosher'],
      dtype=object)

In [107]:
encoded_df = pd.read_csv('okcupid_profiles_encoded.csv')

In [108]:
encoded_df

,age,education,ethnicity,height,income,job,last_online,location,offspring,sign,...,pets_has cats,pets_has dogs,pets_has dogs and dislikes cats,pets_has dogs and has cats,pets_has dogs and likes cats,pets_likes cats,pets_likes dogs,pets_likes dogs and dislikes cats,pets_likes dogs and has cats,pets_likes dogs and likes cats
0,22,25,98,75.0,-1,20,2012-06-28-20-30,175,"doesn't have kids, but might want them",16,...,False,False,False,False,False,False,False,False,False,True
1,35,31,216,70.0,80000,8,2012-06-29-21-41,118,"doesn't have kids, but might want them",8,...,False,False,False,False,False,False,False,False,False,True
2,38,12,189,68.0,-1,12,2012-06-27-09-10,155,NaN,32,...,True,False,False,False,False,False,False,False,False,False
3,23,25,216,71.0,20000,19,2012-06-28-14-22,16,doesn't want kids,29,...,False,False,False,False,False,True,False,False,False,False
4,29,9,22,66.0,-1,0,2012-06-27-21-26,155,NaN,0,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59941,59,9,189,62.0,-1,17,2012-06-12-21-47,118,has kids,10,...,False,True,False,False,False,False,False,False,False,False
59942,24,25,217,72.0,-1,6,2012-06-29-11-01,155,doesn't have kids,23,...,False,False,False,False,False,False,False,False,False,True
59943,42,12,0,71.0,100000,4,2012-06-27-23-37,175,doesn't have kids,36,...,False,False,False,False,False,False,False,False,False,False
59944,27,25,1,73.0,-1,10,2012-06-23-13-01,155,"doesn't have kids, but wants them",22,...,False,False,False,False,False,False,False,False,False,True
59945,39,12,216,68.0,-1,10,2012-06-29-00-42,155,NaN,18,...,False,False,False,False,False,False,False,False,False,True